/* acceuil */
#splash-screen {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* Align items to the top for the header */
	align-items: center;
	/* Center items horizontally */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 1000;
	transition: opacity 1s ease-out;
}

.fade-out {
	opacity: 0;
	/* Faire disparaître l'élément */
}

#splash-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10%;
	/* Adjust this value to control the vertical position of the h1 */
}

#splash-header h1 {
	color: white;
	text-align: center;
	font-size: 8em;
}

#enter-site-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#enter-site {
	margin-top: 20%;
	padding: 10px 20px;
	font-size: 30px;
	cursor: pointer;
	border: 1px solid white;
	border-radius: 10px;
	font-family: "QelliaBold", sans-serif;
	background-color: transparent;
	color: white;
}

#loader {
	border: 5px solid #000000;
	/* Gris clair */
	border-top: 5px solid #ffffff;
	/* Bleu */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	position: absolute;
	top: calc(50% - 25px + 120px);
	left: calc(50% - 25px);
	display: block;
	/* Assurez-vous que le loader est visible initialement */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

#splash-header p {
	color: white;
	text-align: center;
	padding: 0 20%;
	/* Ajustez selon le besoin pour le padding */
	font-size: 1.5em;
	/* Ajustez la taille de police selon le besoin */
	margin-top: 20px;
	/* Espace entre le h1 et le paragraphe */
}

#splash-container {
	padding-top: 5%;
	/* Augmentez selon le besoin pour pousser le contenu vers le bas */
}

/* media queries */

@media (max-width: 768px) {
	#splash-header h1 {
		font-size: 6em;
	}

	#splash-header p {
		padding: 0 10%;
		/* Ajustez selon le besoin pour le padding */
	}
	#loader {
		top: calc(50% - 25px + 110px);
	}
	#enter-site {
		margin-top: 70%;
	}
}

@media (max-width: 425px) {
	#splash-header h1 {
		font-size: 4em;
		margin-top: 20%;
	}

	#splash-header p {
		font-size: 1.2em;
		padding: 0 5%;
		/* Ajustez selon le besoin pour le padding */
	}
	#enter-site {
		margin-top: 80%;
	}

	#loader {
		top: calc(50% - 25px + 120px);
	}
}
