.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1000;
	overflow: hidden;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.overlay-popup {
	background: no-repeat center/90% url("/img/orbit.svg");
	border: 1px solid white;
	border-radius: 0px 40px 0px 40px;
	padding: 20px;
	margin: 2.5%;
	width: 95%;
	height: 90%;
	box-sizing: border-box;
	position: relative;
}

.popup-header {
	position: absolute;
	top: 0%;
	padding: 0 1%;
	background-color: black;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup-header h2 {
	font-size: 32px;
	color: white;
	text-align: center;
	white-space: nowrap;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-height: 80%;
}

.grid-container div {
	color: white;
}

.grid-item {
	text-align: center;
	/* white-space: nowrap; */
	font-family: "Fira Code", monospace;
	font-size: 12px;
}

.grid-item img {
	cursor: pointer;
	max-width: 4vw;
	object-fit: cover;
}

.item1 {
	grid-area: 1 / 2 / 2 / 3;
	margin-left: -41%;
	margin-top: 13%;
}

.item2 {
	grid-area: 1 / 3 / 2 / 4;
	margin-top: 0%;
}

.item3 {
	grid-area: 1 / 4 / 2 / 5;
	margin-right: -41%;
	margin-top: 13%;
}

.item4 {
	grid-area: 2 / 4 / 3 / 5;
	margin-right: 50%;
	margin-top: 10%;
}

.item5 {
	grid-area: 2 / 2 / 3 / 3;
	margin-left: 50%;
	margin-top: 10%;
}

.item6 {
	grid-area: 3 / 1 / 4 / 2;
	margin-left: -30%;
}

.item7 {
	grid-area: 3 / 2 / 4 / 3;
	margin-left: -62%;
}

.item8 {
	grid-area: 3 / 3 / 4 / 4;
}

.item9 {
	grid-area: 3 / 4 / 4 / 5;
	margin-right: -62%;
}

.item10 {
	grid-area: 3 / 5 / 4 / 6;
	margin-right: -30%;
}

.item11 {
	grid-area: 4 / 4 / 5 / 5;
	margin-right: 50%;
}

.item12 {
	grid-area: 4 / 2 / 5 / 3;
	margin-left: 50%;
}

.item13 {
	grid-area: 5 / 2 / 6 / 3;
	margin-left: -41%;
}

.item14 {
	grid-area: 5 / 3 / 6 / 4;
	margin-top: 14%;
}

.item15 {
	grid-area: 5 / 4 / 6 / 5;
	margin-right: -41%;
}

.closePopupBtn {
	position: absolute;
	right: 2%;
	top: 4%;
	cursor: pointer;
	object-fit: cover;
	background-size: cover;
	height: 3dvh;
}

.popup-footer {
	position: absolute;
	bottom: 0%;
	text-align: center;
	background-color: black;
	padding: 0 20px;
	left: 50%;
	transform: translate(-50%, 50%);
}

.popup-footer a {
	margin: 10px 0;
	display: block;
	font-family: "Fira Code", monospace;
	text-decoration: none;
	color: white;
}

@media (max-width: 768px) {
	.overlay-popup {
		height: 95%;
		background: none;
	}

	.overlay-popup::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: no-repeat center/100% url("/img/orbit.svg");
		transform: rotate(90deg) !important;
	}

	.popup-header h2 {
		font-size: 28px;
	}

	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(7, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		height: 90%;
		margin: 0;
	}

	.closePopupBtn {
		right: 6%;
	}

	.grid-item img {
		max-width: 8vw;
	}

	.popup-header {
		top: 1%;
	}

	.popup-footer {
		white-space: nowrap;
		font-size: 14px;
	}

	.item1 {
		grid-area: 1 / 2 / 2 / 3;
		margin-left: 0;
		margin-top: -13%;
	}

	.item2 {
		grid-area: 2 / 1 / 3 / 2;
		margin-top: -15%;
	}

	.item3 {
		grid-area: 2 / 2 / 3 / 3;
		margin-right: 0;
		margin-top: 7%;
	}

	.item4 {
		grid-area: 2 / 3 / 3 / 4;
		margin-top: -15%;
		margin-right: 0%;
	}

	.item5 {
		grid-area: 3 / 1 / 4 / 2;
		margin-right: -40%;
		margin-top: 0%;
	}

	.item6 {
		grid-area: 3 / 3 / 4 / 4;
		margin-left: -90%;
	}

	.item7 {
		grid-area: 4 / 1 / 5 / 2;
		margin-left: -50%;
	}

	.item8 {
		grid-area: 4 / 2 / 5 / 3;
	}

	.item9 {
		grid-area: 4 / 3 / 5 / 4;
		margin-right: -50%;
	}

	.item10 {
		grid-area: 5 / 1 / 6 / 2;
		margin-right: -90%;
		margin-top: 0%;
	}

	.item11 {
		grid-area: 5 / 3 / 6 / 4;
		margin-left: -40%;
	}

	.item12 {
		grid-area: 6 / 1 / 7 / 2;
		margin-top: 24%;
		margin-left: 0;
	}

	.item13 {
		grid-area: 6 / 2 / 7 / 3;
		margin-left: 0%;
	}

	.item14 {
		grid-area: 6 / 3 / 7 / 4;
		margin-top: 24%;
		margin-left: 0%;
	}

	.item15 {
		grid-area: 7 / 2 / 8 / 3;
		margin-right: 0%;
		margin-top: 5%;
	}
}

@media (max-width: 425px) {
	.grid-item img {
		max-width: 11vw;
	}
}
