@font-face {
	font-family: "QelliaRegular";
	src: url("/fonts/Qellia/Qellia-Regular.otf") format("opentype");
}
@font-face {
	font-family: "QelliaBold";
	src: url("/fonts/Qellia/Qellia-Bold.otf") format("opentype");
}
@font-face {
	font-family: "QelliaLight";
	src: url("/fonts/Qellia/Qellia-Light.otf") format("opentype");
}
@font-face {
	font-family: "QelliaMedium";
	src: url("/fonts/Qellia/Qellia-Medium.otf") format("opentype");
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	height: 100vh;
	font-family: "QelliaMedium";
	overflow-y: hidden;
	overflow-x: hidden;
}
#container {
	display: flex;
	align-items: center;
	min-height: 91dvh;
	max-height: 100dvh;
	background-color: transparent;
	border: solid 1px white;
	border-radius: 0px 40px 0px 40px;
	margin: 2.5%;
	overflow-y: hidden;
}
#header {
	background-color: black;
	width: fit-content;
	padding: 0px 1%;
	position: absolute;
	top: 3%;
	left: 50%;
	transform: translate(-50%, 3%);
}

#header h1 {
	color: white;
	margin: 0;
}
.modal-content {
	display: none;
	flex-direction: column;
	background-color: black;
	margin: 0 0 0 3%;
	width: 37%;
	height: 80dvh;
	border: 1px solid white;
	border-radius: 0px 40px;
	z-index: 99;
	overflow-y: hidden;
}
.modal-content::-webkit-scrollbar {
	width: 0;
}
#closeModalBtn {
	display: none;
}
embed {
	height: 100%;
}

#footer {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 999;
}

#footer img {
	height: 10vh;
}
#footer img:hover {
	cursor: pointer;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 1000;
}

.closePopupBtn {
	position: absolute;
	top: 4%;
	right: 20px;
	cursor: pointer;
	width: 1.5%;
}

.popup h1 {
	color: white;
	text-align: center;
}

.clickable {
	cursor: pointer;
	width: 20%;
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.grid-item {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-item img {
	max-width: 100%;
	/* Empêche l'image de dépasser la largeur du conteneur */
	max-height: 100%;
	/* Empêche l'image de dépasser la hauteur du conteneur */
}

.item1 {
	grid-area: 1 / 2 / 2 / 3;
}

.item2 {
	grid-area: 1 / 3 / 2 / 4;
}

.item3 {
	grid-area: 1 / 4 / 2 / 5;
}

.item4 {
	grid-area: 2 / 4 / 3 / 5;
}

.item5 {
	grid-area: 2 / 2 / 3 / 3;
}

.item6 {
	grid-area: 3 / 1 / 4 / 2;
}

.item7 {
	grid-area: 3 / 2 / 4 / 3;
}

.item8 {
	grid-area: 3 / 3 / 4 / 4;
}

.item9 {
	grid-area: 3 / 4 / 4 / 5;
}

.item10 {
	grid-area: 3 / 5 / 4 / 6;
}

.item11 {
	grid-area: 4 / 4 / 5 / 5;
}

.item12 {
	grid-area: 4 / 2 / 5 / 3;
}

.item13 {
	grid-area: 5 / 2 / 6 / 3;
}

.item14 {
	grid-area: 5 / 3 / 6 / 4;
}

.item15 {
	grid-area: 5 / 4 / 6 / 5;
}

.main {
	display: none;
}

.main p {
	font-size: 12px;
	font-family: "Fira Code", monospace;
}
.main h2 {
	margin: 0;
	font-family: "QelliaRegular";
	font-size: 40px;
}

.main .container {
	padding: 20px;
	color: white;
}

.main .banner img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 0 40px 0 0;
}

.main .center-line {
	display: flex;
	justify-content: center;
}

.main .line {
	width: 90%;
	height: 1px;
	background-color: white;
	margin: 20px 0;
	display: block;
}

@media (max-width: 768px) {
	.main {
		display: block;
	}
	#container {
		min-height: 92dvh;
	}
	#header {
		font-size: 1rem;
		top: 0;
		transform: translate(-50%, 5%);
	}
	.modal-content {
		margin: 30% 0 0 10%;
		height: 40dvh;
		width: 55%;
	}
	#footer {
		bottom: 3%;
	}
	#openModalBtn {
		display: block;
		position: absolute;
		top: 15%;
		left: 50%;
		transform: translate(-50%, -15%);
		z-index: 9999;
	}
	#closeModalBtn {
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 4%;
		top: 2.5%;
		font-weight: bold;
		font-size: 4rem;
		background-color: rgba(0, 0, 0, 0.5);
		height: 5%;
		width: 9%;
		color: white;
	}
	embed #document body {
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.grid-item img {
		width: 60%;
	}

	.grid-container {
		height: 80vh;
	}
}
@media (max-width: 425px) {
	#container {
		margin: 5.5%;
	}
	#header {
		font-size: 0.5em;
		top: 1%;
		transform: translate(-50%, 10%);
	}
	.modal-content {
		height: 40dvh;
	}
	.grid-item img {
		width: 60%;
	}
	.grid-container {
		height: 70vh;
	}
	#footer {
		bottom: 0;
	}
}
